#include <stdio.h>
#include <string.h>

// Define a struct
struct Student {
    char name[50];
    int age;
    float marks;
};

int main() {
    // Create a variable of type struct Student
    struct Student s1;

    // Assign values
    strcpy(s1.name, "Basant");
    s1.age = 20;
    s1.marks = 88.5;

    // Print values
    printf("Name: %s\n", s1.name);
    printf("Age: %d\n", s1.age);
    printf("Marks: %.2f\n", s1.marks);

    return 0;
}
